.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    border-color: hsla(0, 2%, 30%, 0.348);
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.avatar {
    max-width: 50%;
}

.name {
    font-size: 23px;
    font-weight: 700;
    margin: 0px;
}

.tag {
    font-size: 20px;
    font-weight: 600;
    color: rgb(117, 115, 115);
    margin: 0px;
}

.location {
    font-size: 20px;
    font-weight: 500;
    color: rgb(117, 115, 115);
    margin: 0px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
}

.label {
    color: rgb(117, 115, 115);
}

.quantity {
    font-size: 23px;
    font-weight: 700;
}

.item {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 10px;
    padding: 40px;
    text-align: center;
    border: solid;
    border-color: hsla(0, 2%, 30%, 0.348);
    background-color: rgb(243, 242, 242);
}