.profile {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    border: solid;
    border-color: #4f4c4c;
    border-radius: 5px;
    width: 440px;
    margin: 0 auto;
    padding: 20px 0px;


}

.description {
    display: block;
    border-bottom: solid;
    border-color: #4f4c4c;
    text-align: center;
}

.avatar {
    width: 240px;
    height: 240px;
    margin: 0 auto;
}

.name {}

.tag {}

.location {}

.stats {
    display: flex;
    justify-content: space-around;
}

.label {}

.quantity {}